html, body {
	margin: 0;
	padding: 0;
}

#CoverImage {
	position: relative;
	overflow: hidden;
	width: 650px;
	height: 430px;
	margin: 0 0px;
}

#CoverImage:before,
#CoverImage:after,
#CoverImage p,
#CoverImage em {
	position: absolute;
	top: 0;
	left: 0;
	white-space: nowrap;
	margin: 0;
	padding: 0;
}
#CoverImage:before,
#CoverImage:after {
	content: " ";
	overflow: hidden;
	width: 0px;
	height: 0;
	padding: 100% 0 0;
	background: url("") no-repeat left top;
	z-index: 8000;
}
#CoverImage:after {
	left: auto;
	right: 0;
	background-image: url("");
}
#CoverImage p {
	transition:         left .5s ease-in-out;
	-moz-transition:    left .5s ease-in-out;
	-webkit-transition: left .5s ease-in-out;
	-ms-transition:     left .5s ease-in-out;
	-o-transition:      left .5s ease-in-out;
}
#CoverImage em.prev,
#CoverImage em.next {
	overflow: hidden;
	top: 50%;
	left: 0px;
	width: 42px;
	height: 79px;
	padding: 79px 0 0;
	margin: -42px 0 0;
	cursor: pointer;
	transition: opacity .1s ease-in-out;
	-moz-transition: opacity .1s ease-in-out;
	-webkit-transition: opacity .1s ease-in-out;
	-ms-transition: opacity .1s ease-in-out;
	-o-transition: opacity .1s ease-in-out;
	z-index: 9999;
	background-image: url("https://raw.githubusercontent.com/danish1u/Maureen-eBay/master/store/slider/slider-arrow.png");
	background-repeat: no-repeat;
	background-position: -42px 0px;
}
#CoverImage:hover em.prev,
#CoverImage:hover em.next {
	opacity: .5;
}
#CoverImage em.prev:hover,
#CoverImage em.next:hover {
	opacity: 1;
}
#CoverImage em.next {
	left: auto;
	right: 0px;
	background-position: 0 0;
}
#CoverImage p img {
	position: relative;
	border: none;
	vertical-align: top;
}
